@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --procasu1: #15224d;
    --procasu2: #11bdd1;
    --procasu3:#dddddd;
}
*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

h3 {
    font-size: 1.2375rem;
    color: black;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

/* Layout skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    z-index: 1111;
}

/* Sidebar collapse */

#sidebar.collapsed {
    margin-left: -264px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0;
}

.sidebar-header {
    color: black;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: black;
    position: relative;
    display: block;
    font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

/* Responsive */

@media (min-width:768px) {
    .content {
        width: auto;
    }
}
.iconos{
    max-width: 30px;
}
/*:::::Pie de Pagina*/
footer .conbnt{
    background-color: var(--procasu3);
    color: #0a1a2a;
    width: 100%;
}
.conbnt{
    display: flex;
    width: 100%;
}
.texto{
    text-align: center;
    padding-top: 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
}
.largo{
    width: 260px;
    padding-top: 1rem;
}
.largo1{
    width: 150px;
    padding-top: 1rem;
    padding-right: 2rem;
}
.icon{
    margin-right: 1rem;
    margin-left: 3rem;
    margin-top: 1rem;
}
.cont{
    background-color: var(--procasu1);
    width: 100%;
    display: flex;
}
.derechos{
    color: #dddddd;
    margin-top: 1rem;
    margin-left: 2rem;
}
.cont .small{
    color: #dddddd;
    margin-top: 3rem;
}
.subcp{
    text-align: center;
}

/*modelo*/
#info-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   }