:root{
    --procasu1: #15224d;
    --procasu2: #11bdd1;
    --procasu3:#dddddd;
}
/*botones modelo y notificaciones*/
.btn-primary {
    background-color: var(--procasu1);
    border: 0;
}
.btn-primary1 {
    background-color: var(--procasu3);
    border: 0;
}
.btn-primary:hover {
    background-color: #505c85 ;
}
.btn-outline-primary {
    border: 0;
    color: var(--procasu1);
}
.border{
    border: 1px solid var(--procasu1);
}
.btn-outline-primary:hover {
    background-color: var(--procasu1) ;
}

/*nav*/
.navbar{
    background-color: var(--procasu3);
}
/*menu*/
#sidebar-container  {
    background-color: var(--procasu1);
    min-height: 100vh;
    min-width: 40vh;
    padding-left: .5rem;
    padding-right: .5rem;
}
#sidebar-container .menu {
    width: 18rem;
}

/*Iconos*/
.iconos {
    max-width: 35px;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}


.conbnt{
    display: flex;
    width: 100%;
}

.icon{
    margin-right: 1rem;
    margin-left: 3rem;
    margin-top: 1rem;
}
.cont{
    background-color: var(--procasu1);
    width: 100%;
    display: flex;
}
;



.ico{
    align-content: center;

}

.card{
    width: 115%;
}
.card1{
    width: 150%;
    padding-left: 3rem;
    margin-left: 1.5rem;
}
